@model BoVoyageP4.Models.Info

@{
    ViewBag.Title = "A propos de";
}


<h1>A propos de</h1>

<p style="color:blanchedalmond">Dev: @Model.NomDeveloppeur</p>
<p style="color:blanchedalmond">&copy; @Model.DateCreation</p>
<p style="color:blanchedalmond">Contact: @Model.ContactMail</p>
